// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }

    .border-2xl-10 {
        border-radius: 10px;
    }
    .border-2xl-15 {
        border-radius: 15px;
    }
    .border-2xl-20 {
        border-radius: 20px;
    }
    .border-2xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header
    .menu-heading {
        &__text {
            font-size: 14px;
        }
    }

    // --------------------------------------------------------------------index
    .section-quinary {
        &__bot {
            &-bg {
                top: -300px;
            }
        }
    }
    .section-octonary {
        &__field {
            margin-top: 340px;
        }
    }

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail
   
    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .w-xl-700 {
        max-width: 700px;
        margin: auto;
    }

    .border-xl-10 {
        border-radius: 10px;
    }
    .border-xl-15 {
        border-radius: 15px;
    }
    .border-xl-20 {
        border-radius: 20px;
    }
    .border-xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .section-tertiary {
        &__left {
            .companion-item {
                img {
                    height: 90px;
                }
            }
        }
    }
    .section-quaternary {
        &__content {
            .article-large {
                .article-content {
                    padding: 20px;
                    max-height: 430px;
                    overflow: auto;
                }
            }
        }
    }
    .section-quinary {
        &__bot {
            &-bg {
                top: -200px;
            }
        }
    }
    .section-septenary {
        &__item {
            &-content {
                .article-smalls {
                    .article-content {
                        padding: 12px;
                    }
                    .article-title {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    .section-octonary {
        &__field {
            margin-top: 290px;
        }
    }

    // --------------------------------------------------------------------cate
    .cate-secondary {
        &__left {
            .article-content {
                padding: 12px;
            }

            .article-title {
                font-size: 16px;
            }
            .article-des {
                font-size: 14px;
            }
            .article-btn {
                margin-top: 5px;
                .txt {
                    font-size: 14px;
                }
            }
        }
    }

    .about-us-primary {
        &__top-content {
            .article-tertiary {
                &::before {
                    top: -828px;
                }
            }
        }
    }

    // --------------------------------------------------------------------detail
    

    // --------------------------------------------------------------------footer
   
 
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .w-lg-full {
        width: 100%;
        max-width: 100%;
    }
    .w-lg-700 {
        max-width: 700px;
        margin: auto;
    }
    .w-lg-500 {
        max-width: 500px;
        margin: auto;
    }
    .py-lg-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mt-lg-20 {
        margin-top: 20px;
    }
    .mt-lg-30 {
        margin-top: 30px;
    }
    .mt-lg-40 {
        margin-top: 40px;
    }

    .col-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .border-lg-10 {
        border-radius: 10px;
    }
    .border-lg-15 {
        border-radius: 15px;
    }
    .border-lg-20 {
        border-radius: 20px;
    }
    .border-lg-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // -------------------------------------------------------------------- index
    .section-tertiary {
        &__left {
            .companion-item {
                img {
                    height: 70px;
                }
            }
        }
    }
    .section-quaternary {
        &__content {
            .article-large {
                .article-content {
                    padding: 12px;
                    max-height: 373px;
                }
                .article-title {
                    margin-top: 10px;
                }
                .article-des {
                    margin-top: 10px;
                }
                .article-btn {
                    margin-top: 20px;
                }
            }
        }
    }
    .section-quinary {
        &__bot {
            &-bg {
                top: -170px;
            }
        }
    }
    .section-septenary {
        &__item {
            &-content {
                grid-gap: 15px;
                gap: 15px;

                .article-large {
                    .article-content {
                        padding: 20px;
                    }
                }
                .article-smalls {
                    .article-content {
                        padding: 10px;
                    }
                    .article-title {
                        margin-top: 10px;
                        font-size: 15px;
                    }
                    .article-time {
                        .txt-1 {
                            font-size: 20px;
                        }
                        .txt-2 {
                            font-size: 14px;
                        }
                    }
                    .article-btn {
                        .txt {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    // --------------------------------------------------------------------cate
    .cate-secondary {
        &__left {
            .article-img {
                width: 50%;
            }
        }
    }

    .about-us-primary {
        &__bot {
            &-content {
                .content-table {
                    white-space: nowrap;
                    overflow: auto;
                }
            

            }
        }
    }

    .about-us-primary {
        &__top-content {
            .article-tertiary {
                &::before {
                    top: -410px;
                }
            }
            .article-tertiary-2 {
                &::before {
                    top: -767px;
                }
            }
        }
    }
    
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-full {
        max-width: 100%;
        width: 100%;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .col-md-1 {
        grid-template-columns: 1fr;
    }
    .col-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .gap-md-10 {
        grid-gap: 0.625rem;
        gap: 0.625rem;
    }
    .pt-md-0 {
        padding-top: 0;
    }
    .mt-md-0 {
        margin-top: 0;
    }
    .mt-md-20 {
        margin-top: 20px;
    }
    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pt-md-30 {
        padding-top: 30px;
    }
    .mt-md-30 {
        margin-top: 30px;
    }
    .py-md-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pt-md-40 {
        padding-top: 40px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }

    .border-md-10 {
        border-radius: 10px;
    }
    .border-md-15 {
        border-radius: 15px;
    }
    .border-md-20 {
        border-radius: 20px;
    }
    .border-md-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header
   
    // --------------------------------------------------------------------index
    .arrow-slide-primary,
    .arrow-slide-secondary {
       .swiper-button-next, 
       .swiper-button-prev {
           width: 36px;
           height: 36px;
       }
      
    }

    .section-secondary {
        &__item {
            &-first {
                margin-bottom: 30px;
                text-align: center;
            }
            &-second {
                margin-top: 15px;
            }
        }
    }
    .section-tertiary {
        &__left {
            .companion-list {
                justify-content: center;
                grid-gap: 24px;
                gap: 24px;
            }
            .companion-item {
                img {
                    height: 60px;
                }
            }
        }

        &__right {
            margin-top: 40px;
            border-left: none;
            padding-left: 0;
            margin-left: 0;

            .article {
                text-align: center;
            }
            .article-text-4,
            .article-text-5 {
                margin-top: 15px;
            }
            .article-btn {
                margin-top: 30px;
            }
        }
    }
    .section-quaternary {
        &__container {
            padding-top: 200px;
        }
        &__content {
            .article-large {
                .article-content {
                    padding: 12px;
                    max-height: unset;
                    overflow: unset;
                }
                .article-title {
                    margin-top: 10px;
                }
                .article-des {
                    margin-top: 10px;
                }
                .article-btn {
                    margin-top: 20px;
                }
            }

            .article-smalls {
                .article {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .section-quinary {
        &__top {
            &-content {
                .article-smalls {
                    margin-top: 20px;

                    .article {
                        margin-bottom: 20px;
                    }
                }
            }
        } 
        &__bot {
            &-content {
                .article-smalls {
                    margin-top: 20px;

                    .article {
                        margin-bottom: 20px;
                    }
                }
            }
        } 
    }

    .section-senary {
        &__left {
            padding-right: 0;
            margin-bottom: 30px;
        }
    }
    .section-septenary {
        &__item {
            &-content {
                .article-smalls {
                    margin-top: 20px;
                    display: block;

                    .article {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .section-octonary {
        margin-top: -160px;

        &__field {
            margin-top: 170px;
        }
        &__slide {
            .article {
                padding: 6px 12px;
            }
            .article-img {
                height: 48px;
                img {
                    max-height: 60px;
                }
            }
        }
    }

    // --------------------------------------------------------------------cate
    .cate-primary {
        &__container {
            padding-bottom: 20px;
        }
    }
    .cate-secondary {
        &__left {
            .article {
                .article-time {
                    position: relative;
                    top: auto;
                    left: auto;
                }
                .article-content {
                    padding-top: 0;
                    margin-top: -50px;
                    padding-left: 12px;
                }
            }
            .article-title {
                margin-top: 15px;
            }
            .article-img {
                width: 100%;
            }
        }
        .article-time {
            .txt-1 {
                font-size: 28px;
            }
            .txt-2 {
                font-size: 14px;
            }
        }
    }

    .about-us-primary {
        &__top {
            .article-smalls {
                grid-template-columns: repeat(2,1fr);
                grid-gap: 12px;
                gap: 12px;
            }
            .article-smalls-2 {
                margin-top: 12px;
            }
        }
    }

    .about-us-primary {
        &__top-content {
            .article-smalls {
                &::before {
                    content: none;
                }

                .article {
                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
            .article-tertiary,
            .article-quaternary {
                &::before,
                &::after {
                    content: none;
                }
            }
        }
    }
    

    // --------------------------------------------------------------------detail

    .detail-tags {
         .tags-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
         }
    }
    .detail-title {
        font-size: 30px;
    }


    .detail-primary {
        &__container {
            padding-top: 10px;
        }
        &__inner {
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
        &__left {
            max-width: 100%;
            width: 100%;
            margin-bottom: 40px;
        }

        &__right {
            max-width: 100%;
            width: 100%;
        }
    }

    
    // --------------------------------------------------------------------footer
    #back-top {
        width: 40px;
        height: 40px;
        right: 30px;

        img {
            width: 12px;
        }
    }
  
    .ripple-effect {
         .pulse {
            width: 48px;
            height: 48px;
        }
        .pulse-icon {
            width: 40px;
            height: 40px;
        }
    }

}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline-flex {
        display: inline-flex;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .mt-sm-0 {
        margin-top: 0;
    }
    .pt-sm-50 {
        padding-top: 50px;
    }
    .pb-sm-50 {
        padding-bottom: 50px;
    }

    .border-sm-5 {
        border-radius: 5px;
    }
    .border-sm-10 {
        border-radius: 10px;
    }
    .border-sm-15 {
        border-radius: 15px;
    }
    .border-sm-20 {
        border-radius: 20px;
    }
    .border-sm-25 {
        border-radius: 25px;
    }
    .w-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .heading-primary {
        .text-1 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        .text-2 {
            font-size: 28px;
        }
        .text-3 {
            font-size: 15px;
        }
    }

    .heading-secondary {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .heading-tertiary {
        font-size: 20px;
    }

    

    .arrow-slide-primary,
    .arrow-slide-secondary {
       .swiper-button-next,
       .swiper-rtl .swiper-button-prev {
            right: 10px;
        }
       .swiper-button-prev,
       .swiper-rtl .swiper-button-next {
            left: 10px;
        }
    }

    .section-secondary {
        &__item-first {
            .text-1 {
                font-size: 22px;
            }
            .text-2 {
                margin-top: 12px;
                font-size: 28px;
            }
        }

        &__item-second {
            padding: 20px 16px;

            .article-title {
                font-size: 20px;
            }
            .article-des {
                margin-top: 10px;
                font-size: 14px;
            }
            .article-btn {
                margin-top: 20px;
            }
        }
    }
    .section-tertiary {
        padding-left: 0;
        padding-right: 0;
        &__container {
            padding: 70px 20px;
        }
        &__left {
            .companion-item img {
                height: 58px;
            }
        }

        &__right {
            .article-text-1 {
                font-size: 24px;
            }
            .article-text-2 {
                font-size: 32px;
                margin-top: 10px;
            }
            .article-text-3 {
                font-size: 24px;
                margin-top: 14px;
            }
            .article-text-4 {
                font-size: 24px;
                margin-top: 10px;
            }
            .article-text-5 {
                font-size: 20px;
                margin-top: 10px;
            }
            .article-text-6 {
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
    .section-quaternary {
        margin-top: 0;

        &__container {
            padding-top: 40px;
        }

        &__inner {
            .cate-list {
                display: block;
            }
            .cate-item {
                width: 100%;
                margin-bottom: 10px;
                a {
                    display: block;
                    width: 100%;
                    text-align: center;
                }

                &.active {
                    .btn {
                        background-color: #FBCB05;
                    }
                }
                .btn {
                    &:hover {
                        background-color: #FBCB05;
                    }
                }
            }
        }

        &__content {
            margin-top: 30px;
            .article-large {
                .article-content {
                padding-top: 0;
                margin-top: -50px;
                }
                .article-time {
                position: relative;
                }

                .article-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 15px;
                }
                .article-des {
                    margin-top: 15px;
                    font-size: 15px;
                }
            }

            .article-time {
                .txt-1 {
                    font-size: 28px;
                }
                .txt-2 {
                    font-size: 14px;
                }
            }

            .article-smalls {
                .article-content {
                    padding: 12px;
                }
                .article-title {
                    font-size: 15px;
                    margin-top: 12px;
                }
                .article-btn {
                    .txt {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .section-quinary {
        .article-time {
            .txt-1 {
                font-size: 28px;
            }
            .txt-2 {
                font-size: 14px;
            }
        }
        &__top-heading {
            .heading-left__img img {
                height: 70px;
            }
            .heading-left__text {
                font-size: 28px;
            }
        }

        &__top {
            .article-large {
                .article-content {
                    padding: 12px;
                }
                .article-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 15px;
                }
                .article-des {
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
            .article-smalls {
                .article-content {
                    padding: 12px;
                }
                .article-title {
                    font-size: 15px;
                    margin-top: 12px;
                }
                
            }
        }

        &__bot {
            &-bg {
                top: -125px;
            }
            .heading-left__img {
                img {
                    height: 53px;
                }
            }
            .heading-left__text {
                font-size: 28px;
            }

            &-content {
                .article-large {
                    .article-content {
                        padding: 16px 12px;
                    }
                    .article-title {
                        font-size: 18px;
                    }
                    ul {
                        font-size: 12px;
                    }
                    .article-des {
                        font-size: 14px;
                    }
                }
                .article-smalls {
                    .article-content {
                        padding: 16px 12px;
                    }
                  
                    ul {
                        font-size: 12px;
                    }
                    .article-des {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .section-senary {
        &__container {

        }
        &__left {
            .section-quaternary__heading {
                .text-3 {
                    font-size: 15px;
                    margin-top: 20px;
                }
            }

            .article-btn {
                margin-top: 30px;
            }
        }
    }
    .section-septenary {
        .article-time {
            .txt-1 {
                font-size: 28px;
            }
            .txt-2 {
                font-size: 14px;
            }
        }
        &__item {
            margin-top: 30px;

            &-content {
                .article-large {
                    .article-content {
                        padding: 12px;
                        grid-gap: 10px;
                        gap: 10px;
                    }
                    .article-title {
                        font-size: 14px;
                    }
                }

                .article-smalls {
                    .article {
                        margin-bottom: 15px;
                    }
                    .article-img {
                        position: relative;
                    }
                    .article-time {
                        position: absolute;
                        bottom: 12px;
                        right: 12px;
                    }
                    .article-title {
                        margin-top: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .section-octonary {
        margin-top: -100px;
        &__field {
            margin-top: 110px;
        }
        &__container {
            padding-top: 10px;
        }
    }
   
    // --------------------------------------------------------------------cate
    .breadcrumb-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .cate-primary {
        &__container {
            padding-bottom: 10px;
        }
    }
    .cate-secondary {
        &__container {
            padding-top: 24px;
        }
        &__right {
            .latest-news {
                &__content {
                    padding: 12px;
                    .article {
                        padding: 12px 0;
                    }
                    .article-content {
                        padding-left: 10px;
                    }
                    .article-title {
                        font-size: 14px;
                    }
                }
            }
            .most-viewed {
                &__content {
                    padding: 12px;
                    .article {
                        padding: 12px 0;
                    }
                    .article-content {
                        padding-left: 10px;
                    }
                    .article-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .about-us-primary {
        &__top-content {
            margin-top: 30px;
            .article-large {
                .article-title,
                .article-name {
                    font-size: 16px;
                }
                .article-name {
                margin-top: 4px;
                }
            }
            .article-smalls {
                margin-top: 20px;

                .article-content {
                    padding: 12px 10px;
                }
                .article-title {
                    font-size: 12px;
                }
                .article-name {
                    font-size: 14px;
                    margin-top: 2px;
                }
            }

            .article-tertiary,
            .article-quaternary {
                margin-top: 20px;
                .article-name {
                    font-size: 14px;
                }
                .article-title {
                    font-size: 12px;
                }
                .article-content {
                    padding: 12px 10px;
                }
            }
        }


        &__bot {
            margin-top: 40px;
        }
    }

    // --------------------------------------------------------------------detail
    p + p {
        margin-top: 20px;
    }

    .detail-title {
        font-size: 24px;
    }
    
    .detail-author {
        &__img {
            width: 34px;
            height: 34px;
        }
        &__name {
            font-size: 14px;
        }
    }

    .time {
        &-icon {
            img {
                width: 20px;
            }
        }
        &-text {
            font-size: 14px;
        }
    }
    .detail-action {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }


    .detail-sapo {
        p {
            font-size: 16px;
        }
    }
  
    .detail-content {

        & figure {
            margin-bottom: 15px;
            
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
            img {
                border-radius: 5px;
            }
        }
        

        & p,
        & li {
            font-size: 16px;
            margin-bottom: 16px;
    
        }
        &  h2 {
            font-size: 20px;
        }
        &  h3 {
            font-size: 18px;
        }
        & h4 {
            font-size: 16px;
        }
        &  h5 {
            font-size: 16px;
        }
        & h6 {
            font-size: 16px;
        }
    
        & blockquote {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
    
            & p {
                font-size: 16px;
            }
        }
    }


    .detail-tags {
        .tag-link {
            padding: 10px 20px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

   .detail-secondary {
    &__slide {
        margin-top: 20px;
    }
        .article-time {
            .txt-1 {
                font-size: 28px;
            }
            .txt-2 {
                font-size: 14px;
            }
        }
        .article {
            .article-content {
                padding: 12px;
            }
            .article-title {
                font-size: 15px;
                margin-top: 12px;
            }
            .article-btn .txt {
                font-size: 14px;
            }
        }
    }
    // --------------------------------------------------------------------footer
    #back-top {
        right: 20px;
    }
    .footer-action {
        left: 20px;
        right: auto;
        bottom: 100px;
    }
    .ripple-effect {
        width: 40px;
        height: 40px;
        .pulse-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .footer-primary {
        &__content {
            .logo-footer {
                img {
                    height: 66px;
                    width: auto;
                }
            }

            .footer-info {
                margin-top: 20px;

                .footer-info__title {
                    font-size: 15px;
                }
            }
            .footer-heading {
                font-size: 16px;
            }

            .footer-list-link {
                grid-gap: 10px;
                gap: 10px;
                font-size: 15px;
            }
            .footer-form {
                .contact-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__copyright {
            padding-bottom: 0;
            font-size: 14px;
            text-align: left;
        }
    }

    .footer-secondary {
        &__container {
            padding: 5px 0;
        }
        .logo-design {
            img {
                height: 70px;
                width: auto;
            }
        }

        .text {
            font-size: 14px;
        }

        &__content {
            justify-content: space-between;
        }
    }

}


// max-width: 400px
@media (max-width:400px) {
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
   
}